{% extends "base_generic.html" %}

{% load bootstrap3 %}

{% block content %}
    <div class="basic-content">
        <h1>Trip Planner</h1>

        <hr>
        
        <form action="" method="post" class="form-inline">
            {% csrf_token %}
            <h3>
                {% bootstrap_label "I want to go " %}
                {% bootstrap_field form.city layout='inline' size='medium' %}
                {% bootstrap_label "for " %} 
                {% bootstrap_field form.num_days layout='inline' size='medium' %}
                {% bootstrap_label " days." %}
                {% buttons submit='Submit' %}{% endbuttons %}
            </h3>
        </form>
        <br>    
        <p>Please allow up to 30 seconds for itinerary generation.</p>
    </div>
{% endblock %}
